
@model ServisProjekt.Models.KorisnikViewModel.PrijavaKvaraModel

@{
    ViewData["Title"] = "Prijava kvara";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div>
    <form method="post">
        <div class="form-group">
            <label>Odaberi printer:</label>
            <select asp-for="PopisPrintera.PrinterID" asp-items="@Model.PopisPrintera.PrinterPopis" class="form-control">
                <option selected disabled>Odaberi printer</option>
            </select>
        </div>
        <div class="form-group">
            <label>Šifra greške:</label>
            <input asp-for="PrijavaServisaModel.ŠifraGreške" class="form-control" />
        </div>
        <div class="form-group">
            <label>Opis problema:</label>
            <textarea rows="5" style="resize:none" asp-for="PrijavaServisaModel.Opis" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Counter:</label>
            <input asp-for="PrijavaServisaModel.Counter" />
        </div>
        <button type="submit" class="btn btn-default">Prijavi</button> |
        <a asp-action="PopisPrijava">Nazad</a>
    </form>
</div>


