@model ServisProjekt.Models.Poduzeće
@{
    ViewData["Title"] = "Dodaj poduzeće";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <form method="post">
        <h4>Dodaj novo poduzeće.</h4>
        <hr />
        <div class="form-group">
                <label asp-for="Naziv"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Adresa"></label>
            <input asp-for="Adresa" class="form-control" />
            <span asp-validation-for="Adresa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Grad"></label>
            <input asp-for="Grad" class="form-control" />
            <span asp-validation-for="Grad" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-default">Dodaj</button>
    </form>
</div>